@import "tailwindcss";


:root {
  --bg-color: #C3C3C3;
  --main-color: #69489D;
  --sec-main-color: #FBAE42;


  --text-color: #3B3B3B;




  --sec-bg-color: #262840;

  --white-color: #F5F5F5;

  --secondary-red: #FF5E57;
  --secondary: #00C2A8;
  --secondary-blue: #70C1FF;
  --secondary-yello: #FFEB3B;
}



body {
  background-color: var(--main-color);
  margin: 0 auto;
}